{% extends "base.html.twig" %}

{% block main %}

	{# <h1>{{ front }}</h1> #}

	{% for comics in comicss %}
		{# <img src="{{ asset('media/' ~ comics.media[0].src) }}" alt="{{ comics.media[0].alt }}"> #}
		<h2>
			<a href="{{ path("comics_show", {'id' : comics.id } ) }}">{{ comics.title }}</a>
		</h2>
	{% endfor %}

{% endblock %}